// Image de fond et section main

body {
    background-attachment: fixed;
    background: url("../img/fond_main.jpeg") no-repeat center center/cover;
}

main {
    background-color: $main-bg-color;
    min-height: 100vh;
    padding: 120px 40px;
}

// Aspect du header

.bg-light{
    background-color: #38a750 !important;
    &-index{
        background-color:$btn-admin-bg-color;
    }
}

// Typo

* {
    font-family: $script-font-family;
}

h1,
h2,
h2,
h4,
h5,
h6 {
    font-family: $title-font-family;
}

// Balises génériques

h1 {
    font-size: 2rem;
    padding: 15px;
}

h2 {
    font-size: 1.5rem;
    padding: 10px;
}

h3 {
    font-size: 1.25rem;
    padding: 5px;
}

h4 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    padding: .25rem;
    color: light-txt-color;
    text-indent: 1.25rem;
}

ul {
    list-style-type: none;
}

// Coloration des parties admin (liens dans le menu)

.admin{
    color:$admin-txt-color !important;
}