// CORPS DE TEXTE

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.woff2") format("woff2");
    font-weight: bold;
}

// TITRES

@font-face {
    font-family: 'Martel';
    src: url('martel-regular-webfont.woff2') format('woff2'), url('martel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Martel';
    src: url('martel-semibold-webfont.woff2') format('woff2'), url('martel-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}