// Typo
$script-font-family: Roboto, sans-serif;
$title-font-family: Martel, serif;

// Couleur de la typo texte
$dark-bg-color: rgb(19, 19, 19);
$dark-txt-color:white;

$light-bg-color: white;
$light-txt-color:rgb(19, 19, 19);

// Couleur de fond de la section main
$main-bg-color:rgba(255, 255, 255, 0.95);
$content-bg-color: rgba(255, 255, 255, 0.9);

// Texte Client
$client-txt-color:#28a745;
$client-txt-color-hover:#218838;

// Bouton Client
$btn-client-txt-color: white;
$btn-client-txt-color-hover:white;
$btn-client-bg-color:#3bb858;
$btn-client-bg-color-hover:#38a750;

// Texte Admin
$admin-txt-color:#4180c2;
$admin-txt-color-hover:#2c5480;

// Boutton Admin
$btn-admin-txt-color:white;
$btn-admin-bg-color:#4180c2;
$btn-admin-txt-color-hover:white;
$btn-admin-bg-color-hover:#2c5480;

// Ombres
$box-shadow:4px 4px 0px #aaa;
$box-shadow-hover:8px 8px 0px #aaa;