.btn__admin {
    background-color:   $btn-admin-bg-color;
    border:             0;
    border-color:       $btn-admin-bg-color;
    color:              $btn-admin-txt-color;
    margin:             1.25rem;
    padding:            1rem 2rem;
    text-decoration:    none;
        
        &left{margin:20px 20px 20px 0px;}
        &right{margin:20px 0 20px 20px;}
        &centerpage{margin:20px;}

    &left:hover, &right:hover, &centerpage:hover{
        background-color:   $btn-admin-bg-color-hover;
        border-color:       $btn-admin-bg-color-hover;
        border-radius:      10px;
        color:              $btn-admin-txt-color-hover;
        scale:              1.05;
        text-decoration:    none;
    }
}

.btn__client{
    @extend .btn__admin;
    background-color:   $btn-client-bg-color;
    border:             0;
    border-color:       $btn-client-bg-color;
    color:              $btn-client-txt-color;

        &left{margin:20px 20px 20px 0px;}
        &right{margin:20px 0 20px 20px;}
        &centerpage{margin:20px;}

    &left:hover, &right:hover, &centerpage:hover{
        background-color:   $btn-client-bg-color-hover;
        border-color:       $btn-client-bg-color-hover;
        border-radius:      10px;
        color:              $btn-client-txt-color-hover;
        scale:              1.05;
        text-decoration:    none;
    }
}

.alert-danger, .alert-success{
    margin-bottom:30px;
}