// Comportement global de la card

.summaryArticle {
    background-color: white;
    border: 1px solid rgb(175, 175, 175);
    border-radius:10px;
    box-shadow: $box-shadow;
    margin-bottom:20px;
    padding: 15px;

    & > a{
        color: $light-txt-color;
        filter: opacity(80%);
    }

    & > a:hover {
        text-decoration: none;
    }

    &:hover {
        background-color:$client-txt-color-hover;
        color:white;
        border: 1px solid $btn-client-bg-color;
        box-shadow: $box-shadow-hover;
        filter: opacity(100%);
        text-decoration: none;
    }
    &:hover * {
        color:white;
        filter: opacity(100%);
    }

    &:hover .category {
        background-color:white;
        color:$btn-client-bg-color-hover;
    }
}

// Comportement spécifique de la catégorie
.category {
    background-color: $btn-client-bg-color;
    color: white;
    display:inline-block;
    margin:10px -5px;
    margin-bottom:10px;
    padding:5px 25px;

    &::before {
        content: "→ ";
    }
}

// Animation sur la catégorie des articles

.slide-in-blurred-top {
	animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-top {
    0% {
        filter: blur(10px);
        opacity: 0;
        transform: translateY(-100px) scaleY(2) scaleX(0.2);
        transform-origin: 50% 0%;
    }
    100% {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
    }
}

// Comportement spécifique date et auteur

.date,
.author {
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

// Comportement spécifique du résumé

.summary {
    padding-top: 15px;
    text-indent: 2rem;
}