//- Inclusion des mixins
include mixins/_utils.pug

doctype html
html(lang="fr")
    +head_index('Connexion','L\'actualité dans le monde')

    body
        .container
            +header_index
            main
                .row.blockquote.flex-column.align-items-center
                    .blockquote__index Le journalisme, c'est le contact et la distance. 
                    .blockquote__indexauthor Hubert Beuve-Méry
                .row.align-items-center.flex-column
                    .connexion.col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-6.offset-lg-3
                        h1.connexion__h1 Connexion
                        form.connexion__form(action='pages/dashboard.html' method="GET")
                            .form-group
                                label.connexion__label(for='email') Courriel
                                input#email.form-control(type='email' placeholder='inscrivez votre courriel' maxlength='100' required='' pattern='[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+')
                            .form-group
                                label.connexion__label(for='password') Mot de passe
                                input#password.form-control(type='password' placeholder='inscrivez mot de passe' maxlength='100' required='' pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$')
                            .form-check
                                input#check.form-check-input(type='checkbox' checked)
                                label.form-check-label(for='check') Se souvenir de moi
                            button.btn__admin.btn__admincenterpage(type='submit' name='connexion' value='connected') Se connecter

            +footer