//- Declaration head de l'index
mixin head_index(title, description)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title La gazette - #{title}
        if description
            meta(name="description" content=description)

        //- CSS
        link(rel="stylesheet" href="css/styles.css")
        
        //- Favicons
        link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
        link(rel='manifest' href='img/site.webmanifest')
        link(rel='mask-icon' href='img/safari-pinned-tab.svg' color='#5bbad5')

//- Declaration head
mixin head(title, description)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title La gazette - #{title}
        if description
            meta(name="description" content=description)

        //- CSS
        link(rel="stylesheet" href="../css/styles.css")
        
        //- Favicons
        link(rel='apple-touch-icon' sizes='180x180' href='../img/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='../img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='../img/favicon-16x16.png')
        link(rel='manifest' href='../img/site.webmanifest')
        link(rel='mask-icon' href='../img/safari-pinned-tab.svg' color='#5bbad5')

//- Déclaration header de l'index
mixin header_index
    header
        .container
            .nav.navbar.navbar-expand-lg.navbar-light.bg-light-index
                img(src='../img/logo_blanc.svg' alt='logo du journal').logo

//- Déclaration header
mixin header(current)
    header
        .container
            nav.navbar.navbar-expand-md.navbar-light.bg-light
                a.navbar-brand(href="/pages/articles.html")
                    img(src='../img/logo_blanc.svg' alt='logo du journal').logo
                ul.nav.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='../pages/articles.html' class=(current == "articles" ? "active" : undefined)) Nos Articles
                    li.nav-item
                        a.nav-link(href='../pages/contact.html' class=(current == "contact" ? "active" : undefined)) Contact
                    li.nav-item
                        a.nav-link(href='../pages/about.html' class=(current == "about" ? "active" : undefined)) A propos
                    li.nav-item
                        a.nav-link.admin(href='../pages/dashboard.html' class=(current == "dashboard" ? "active" : undefined)) Tableau de bord
                    li.nav-item
                        a.nav-link.admin(href='../index.html') Déconnexion
                img.photoProfil(src='../img/journaliste_2.jpg' alt='photo de profil' width='60' height='60')

//- Déclaration des résumés d'articles
mixin resumeArticle(title, date, author, category, image, alt_image, summary, namePage)
    .col-12.col-lg-6.col-xl-4
        article.summaryArticle
            a(href='../articles/'+namePage+'.html')
                .header__article
                    h2 #{title}
                    .category.slide-in-blurred-top #{category}
                    .date Publié le #{date}
                    .author par #{author}
                .summary=summary.substr(0,280) + '..'

//- Déclaration Article seul
mixin article(link_edit, logo_edit, title, date, author, category, image, alt_image, legend, content)
    .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
        .article
            .row.flex-column.header__article
                article
                    h2 #{title}
                    .category #{category}
                    .row.justify-content-end
                        .adminArticle
                            .dateauthor
                                .date Publié le #{date}
                                .author par #{author}
                            a.logoedit(href=link_edit)
                                img(src='../img/'+logo_edit+'.svg' alt='editer' width='20' height='20')
                    figure.row
                        img(src=image alt=alt_image)
                        figcaption #{legend}
                    .content.row
                        | #{content}

//- Déclaration Tableau d'administration
mixin data(title, link_view, date, author, clics, link_edit, link_suppress, logo_edit, logo_suppress)
    tr.dashboard
        td
            a(href=link_view) #{title}
        td #{date}
        td #{author}
        td.edit #{clics}
        td.edit 
            a(href=link_edit)
                img(src='../img/'+logo_edit+'.svg' alt='editer' width='15' height='15')
        td.edit
            a(href=link_suppress)
                img(src='../img/'+logo_suppress+'.svg' alt='supprimer' width='15' height='15')

//- Déclaration Edition d'un article
mixin articleEdit(title, date, author, category, summary, article, image, legend)
    .retourTableauDeBord
        a.btn__admin.btn__adminleft(href='../pages/dashboard.html') &larr; Tableau de bord
    .row
        form.col-12(action='../pages/dashboard.html' method="GET")
            .form-group.row
                label.col-12.col-md-3.col-form-label(for='c20') <b>Titre</b><br>(max 70 car.)
                input#c20.col-12.col-md-9(type='text' name='title' maxlength='70' required='' value=title)

            .form-group.row.col-12.offset-md-3.col-md-9 Publié par #{author}, le #{date}

            .form-group.row
                label.col-12.col-md-3.col-form-label(for='c30') <b>Catégorie</b>
                select#c30.col-12.col-md-3(name='category')
                    option(value='SOCIETE') Société
                    option(value='ECONOMIE') Economie
                    option(value='ECOLOGIE') Ecologie
                    
            .form-group.row
                label.col-12.col-md-3.col-form-label(for='c40') <b>Résumé</b><br>(max 280 car.)
                textarea#c40.col-12.col-md-9(name='summary' maxlength='280' required='' rows='4') #{summary}

            .form-group.row
                label.col-12.col-md-3.col-form-label.align-middle(for='c50') <b>Article</b><br>(max 2000 car.)
                textarea#c50.col-12.col-md-9(name='article' maxlength='2000' required='' rows="15") #{article}

            .form-group.row
                label.col-12.col-md-3.col-form-label(for='c60') <b>Image à la une</b><br>(.png, .jpeg, .jpg)
                input#c60.col-12.col-md-5(type='file' name='file' accept=".jpeg,.jpg,.png")
                img.col-12.col-md-4(src="../img/fead.webp" alt="Image d'un centre de distribution")

            .form-group.row.col-12.offset-md-3.col-md-9 Image actuellement sélectionnée : #{image}

            .form-group.row
                label.col-12.col-md-3.col-form-label(for='c70') <b>Légende de l'image</b><br>(max 100 car.)
                textarea#c70.col-12.col-md-9(name='legend' maxlength='100' required='' rows="2") #{legend}

            .row.justify-content-end
                a.btn__admin.btn__adminright(href="article1.html") Prévisualiser 👀
                input.btn__admin.btn__adminright(type='submit' name='publish' value='Publier 👌')

//- Déclaration Footer
mixin footer
    footer
        p Copyleft La gazette locale - 2020