//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('A propos','L\'actualité dans le monde')

    body
        .container
            +header("about")
            main
                h1 A propos
                p Page en construction
            +footer