//- Inclusion des mixins
include ../mixins/_utils.pug
//- resumeArticle(title, date, author, category, image, alt_image, summary, namePage)

doctype html
html(lang="fr")
    +head('Accueil','L\'actualité dans le monde')

    body
        .container
            +header("articles")
            main
                h1 Nos articles
                .row
                    //- (title, date, author, category, image, alt_image, summary, namePage)
                    +resumeArticle('Le Secours populaire a vu exploser la grande précarité pendant le confinement',
                    '30/09/2020',
                    'Jean-Claude LE BOULICAUT',
                    'Société',
                    'img/fead.webp',
                    'photo d\'un centre distribuant de la nourriture aux plus précaires',
                    'Pendant les deux mois du confinement, près de 1,3 million de personnes ont sollicité l’aide du Secours populaire, dont 45 % étaient jusque-là inconnues de l’association.',
                    'article1')

                    //- (title, date, author, category, image, alt_image, summary, namePage)
                    +resumeArticle('« Makers » : « Osons organiser un renouveau industriel participant à la relance économique et à la transition écologique »',
                    '01/10/2020',
                    'Fabienne RICHARD',
                    'Economie',
                    'img/fablab.jpeg',
                    'photo d\'un atelier fablab',
                    'La fabrication distribuée est la clé d’un système productif résilient, créateur d’emplois et écologique, explique dans une tribune au « Monde » un collectif de plus d’une centaine de signataires issus du monde industriel, universitaire et politique',
                    'article2')

                    //- (title, date, author, category, image, alt_image, summary, namePage)
                    +resumeArticle('Les associations saluent la fin des animaux sauvages dans les cirques et delphinariums',
                    '29/09/2020',
                    'Mathilde Gérard',
                    'Ecologie',
                    'img/ecologie.webp',
                    'photo d\'orques dans une piscine',
                    'La ministre de la transition écologique, Barbara Pompili, a annoncé mardi la fin progressive des spectacles itinérants mettant en scène fauves, primates ou cétacés, ainsi que l’interdiction, sous cinq ans, des élevages de visons. ',
                    'article3')

            +footer