//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Contact','L\'actualité dans le monde')

    body
        .container
            +header("contact")
            main
                h1 Contact
                p * Remplissage des champs obligatoire
                
                form(action='mail_send.html' method="GET")
                    button.btn__client.btn__clientleft(type='reset') Réinitialiser le formulaire
                    fieldset
                        legend Coordonnées 

                        // Saisie civilité
                        .form-group.row
                            label.col-md-3.col-form-label Civilité
                            .custom-control.custom-radio.custom-control-inline
                                input#c0.custom-control-input(type='radio', name='gender', value='m')
                                label.custom-control-label(for='c0') Homme
                            .custom-control.custom-radio.custom-control-inline
                                input#c1.custom-control-input(type='radio', name='gender', value='f')
                                label.custom-control-label(for='c1') Femme
                            .custom-control.custom-radio.custom-control-inline
                                input#c2.custom-control-input(type='radio', name='gender', value='x')
                                label.custom-control-label(for='c2') Non binaire

                        // Saisie du Prénom
                        .form-group.row
                            label.col-md-3.col-form-label(for='c20') Prénom *
                            input#c20.col-md-4(type='text' name='firstname' placeholder='Saisissez votre prénom' maxlength='100' required='')

                        // Saisie du Nom
                        .form-group.row
                            label.col-md-3.col-form-label(for='c30') Nom * 
                            input#c30.col-md-4(type='text' name='lastname' placeholder='Saisissez votre nom' maxlength='100' required='')

                        // Saisie du E-mail
                        .form-group.row
                            label.col-md-3.col-form-label(for='c40') Courriel * 
                            input#c40.col-md-4(type='email' name='email' placeholder='Saisissez votre email' maxlength='100' required='' pattern='[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+')

                        // Saisie du téléphone
                        .form-group.row
                            label.col-md-3.col-form-label(for='c50') Téléphone 
                            input#c50.col-md-4(type='tel' name='telephone' placeholder='Saisissez votre n°' maxlength='10' pattern='^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$')

                    fieldset
                        legend Message 

                        // Saisie de l'Objet du message
                        .form-group.row
                            label.col-md-3.col-form-label(for='c90') Objet * 
                            input#c90.col-md-9(type='text' name='object' placeholder="Saisissez l'objet" maxlength='100' required='')

                        // Saisie du message
                        .form-group.row
                            label.col-md-3.col-form-label Message *
                            textarea#c100.col-md-9(name='message' rows='6' placeholder='Saisissez votre message' maxlength='254' required='')

                        // Selection d'un fichier à envoyer
                        .form-group.row
                            label.col-12.col-md-3.col-form-label(for='c110') Fichier à envoyer
                            input#c110.col-12.col-md-9(type='file' name='file' accept=".pdf, .jpeg, .jpg, .png")
                    
                    .row.justify-content-end
                        button.btn__client.btn__clientright Envoyer le message

        +footer