//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Admin','Tableau de bord')

    body
        .container
            +header("dashboard")
            main
                .tabBord
                    h1 Tableau de bord
                    h2 Statistiques
                    .row.justify-content-around
                        p.col-12.col-sd-4.col-md-3.statItems 3 articles publiés
                        p.col-12.col-sd-4.col-md-3.statItems 820 lecteur.trice.s uniques
                        p.col-12.col-sd-4.col-md-3.statItems 3 auteurs
                    h2 Administration du contenu
                    .row
                        form(action='../articles/article_new.html')
                            button.btn__admin.btn__adminleft Ecrire un nouvel article

                        table.table.table-bordered
                            thead.thead-dark
                                tr
                                    th(scope='col') Titre
                                    th(scope='col') Date
                                    th(scope='col') Auteur.trice
                                    th(scope='col') Clics
                                    th(scope='col') Editer
                                    th(scope='col') Supprimer
                            tbody
                                -
                                    var datas = [
                                        {
                                            title: 'Le Secours populaire a vu exploser la grande précarité pendant le confinement',
                                            link_view: '../articles/article1.html',
                                            date: '30/09/2020',
                                            author: 'Jean-Claude LE BOULICAUT',
                                            clics: '258',
                                            link_edit: '../articles/article1_edit.html',
                                            link_suppress: '../articles/article1_suppress.html',
                                            logo_edit: 'edit',
                                            logo_suppress: 'suppress'
                                        },
                                        {
                                            title: '« Makers » : « Osons organiser un renouveau industriel participant à la relance économique et à la transition écologique »',
                                            link_view: '../articles/article2.html',
                                            date: '01/10/2020',
                                            author: 'Fabienne RICHARD',
                                            clics: '478',
                                            link_edit: '#',
                                            link_suppress: '#',
                                            logo_edit: 'edit_inactive',
                                            logo_suppress: 'suppress_inactive'
                                        },
                                        {
                                            title: 'Les associations saluent la fin des animaux sauvages dans les cirques et delphinariums',
                                            link_view: '../articles/article3.html',
                                            date: '29/09/2020',
                                            author: 'Olivier BERREZAI',
                                            clics: '324',
                                            link_edit: '#',
                                            link_suppress: '#',
                                            logo_edit: 'edit_inactive',
                                            logo_suppress: 'suppress_inactive'
                                        }
                                    ]

                                each data in datas
                                    +data(data.title,data.link_view,data.date,data.author,data.clics,data.link_edit,data.link_suppress,data.logo_edit,data.logo_suppress)

            +footer