//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Validation d\'envoi','L\'actualité dans le monde')

    .container
        +header
        main
            .alert.alert-success Votre message a bien été envoyé !
            a.btn__client.btn__clientleft(href='articles.html') &rarr; Lire nos articles
        +footer