.statItems {
    border-radius: 5px;
    color: white;
    padding: 15px;
    text-align: center;
    text-indent: 0;
    background-color: rgb(87, 87, 87);
}

.tabBord h2 {
    margin: 30px 0;
    text-align: center;
}

.table {
    background-color: white;
}

.dashboard a:hover{
    color:$admin-txt-color;
}

tr:hover{
    background-color: rgb(240, 240, 240);
}