.article {
    background-color: $content-bg-color;
    color: rgb(43, 43, 43);
    padding: 25px;
    text-align: justify;
}
.content {
    margin-top: 15px;
    text-indent: 2rem;
}

figure{
    & img {
        margin-top:30px;
        max-width: 100%;
        text-align: center;
        }

    & figcaption {
        color:grey;
        font-size: .75rem;
        font-style: italic;
        text-align: center;
    }
}

.dateauthor, .logoedit{
    margin:0;
    padding:5px;
}

.adminArticle{
    display:flex;
}