.blockquote{
    font-style: italic;
    text-align:center;
    margin-bottom:60px;

    &__index{
        font-size: 1.5rem;
        &::before{
            content: open-quote;
        }
        &::after{
            content: close-quote;
        }
    }

    &__indexauthor{
        font-size:0.75rem;
    }

}