.connexion{
    padding:40px;
    border: solid 1px grey;
    border-radius: 15px;
    margin:0;
    background-color: #fff;
    box-shadow: 8px 8px 0px rgb(213, 213, 213);

    &__form{
        text-align: center;
    }

    &__h1, &__label{
        padding:0px;
        text-align:center;
        color:$admin-txt-color;
    }

    &__h1{
        margin-bottom:30px;
        text-align:center;
        color:$admin-txt-color;
    }
}