.logo {
    height: auto;
    max-width: 150px;

    &Index {
    height: auto;
    max-width: 250px;
    }
}

.photoProfil {
    border-radius: 50%;
}

.headerIndex {
    justify-content: center;
}

header{
    position: fixed;
    top: 0;
    width:100%;
    left:0;
    z-index:1000;
}

.navbar-expand-lg {
    justify-content: center;
}

.nav-link{
    color:$client-txt-color !important;
}

.active{
    font-weight:bold !important;
}

.admin{
    color:$admin-txt-color !important;
}

.navbar-nav{
    background-color: rgba(255, 255, 255, 0.83);
    border-radius:5px;
    margin:10px;
}