//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Article 1','L\'actualité dans le monde')

    body
        .container
            +header
            main
                h1 Modification de l'article
                p Tous les champs sont obligatoire pour publier un article

                //- (title,date,author,category,summary,article,image,legend)
                +articleEdit(
                    'Le Secours populaire a vu exploser la grande précarité pendant le confinement',
                    '30/09/2020',
                    'Jean-Claude LE BOULICAUT',
                    'Société',
                    'Pendant les deux mois du confinement, près de 1,3 million de personnes ont sollicité l’aide du Secours populaire, dont 45 % étaient jusque-là inconnues de l’association.',
                    'Le Secours populaire a enregistré une explosion des demandes d’aide alimentaire pendant le confinement, où près d’un requérant sur deux était un nouveau venu, selon le dernier baromètre de l’association publié mercredi 30 septembre.\n\nPendant les deux mois du confinement, 1 270 000 personnes ont sollicité l’aide du Secours populaire dans ses permanences d’accueil – contre 3,3 millions sur toute l’année 2019. L’organisation s’attend à un chiffre « largement supérieur » pour l’année 2020. Parmi ces demandeurs, 45 % étaient jusque-là inconnus de l’association, indique ce baromètre réalisé avec Ipsos.\n« Un chiffre absolument énorme », s’alarme Henriette Steinberg, secrétaire générale de l’association. « Mais j’ai bien peur que ce soit encore en train d’augmenter », affirme-t-elle à l’Agence France-Presse.\n\nLe confinement a aussi accentué les inégalités scolaires, avec le « manque de matériel informatique (ordinateurs, imprimantes) et d’accès à Internet pour suivre l’école à distance, des logements exigus ne permettant pas de s’isoler pour étudier dans le calme », souligne l’association, rappelant que 500 000 enfants auraient décroché scolairement.',
                    'fead.webp',
                    'Une affiche portant la mention « Produits FEAD » (Fonds européen d’aide aux plus démunis), dans l’entrepôt d’un centre de distribution du Secours Populaire, à Mulhouse, le 11 juin. SÉBASTIEN BOZON / AFP')

            +footer