//- Inclusion des mixins
include ../mixins/_utils.pug

//- article(title, date, author, category, image, alt_image, legend, content, namePage)

doctype html
html(lang="fr")
    +head('Article - ','Les associations saluent la fin des animaux sauvages dans les cirques et delphinariums')
    body
        .container
            +header
            main
                //- (link_edit,logo_edit,title, date, author, category, image, alt_image, legend, content)
                +article('#','edit_inactive',
                'Les associations saluent la fin des animaux sauvages dans les cirques et delphinariums',
                '29/09/2020',
                'Mathilde Gérard',
                'Ecologie',
                '/img/ecologie.webp',
                'photo d\'orques dans une piscine',
                'L’orque prénommé « Wikie » saute avec son bébé, au parc aquatique Marineland, à Antibes (Alpes-Maritimes), en avril 2011. LIONEL CIRONNEAU / AP',
                '« Fauves, éléphants, singes, dauphins ou visons : il est temps d’ouvrir une nouvelle ère dans notre rapport à ces animaux. » La ministre de la transition écologique, Barbara Pompili, a annoncé, mardi 29 septembre, une série de mesures sur la faune sauvage détenue en captivité : fin progressive des animaux sauvages dans les cirques itinérants et des spectacles avec orques et dauphins et, interdiction, d’ici cinq ans, des élevages de visons d’Amérique pour leur fourrure. Ces annonces, dont le cadre formel – arrêté, décret ou loi – n’a pas été précisé, interviennent plus d’un an après des consultations sur ces sujets avec les associations et professionnels concernés, lancées au printemps 2019 sous l’égide du ministre alors chargé de la transition écologique, François de Rugy. Tandis que les conclusions du gouvernement étaient attendues à l’automne 2019, sa successeure, Elisabeth Borne, n’avait pas tranché ce dossier épineux. C’est finalement la nouvelle occupante de l’hôtel de Roquelaure, Barbara Pompili, qui a arbitré en faveur de la fin de l’activité des delphinariums et d’une transition vers des spectacles sans animaux pour les cirques.')

            +footer