//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Ajouter un article','L\'actualité dans le monde')

    body
        .container
            +header
            main 
                h1 Ajouter un article
                p Tous les champs sont obligatoires pour publier un article

                .retourTableauDeBord
                    a.btn__admin.btn__adminleft(href='../pages/dashboard.html') &larr; Tableau de bord

                .row
                    form.col-12(action='../pages/dashboard.html' method="GET")
                        .form-group.row
                            label.col-md-3.col-form-label(for='c20') <b>Titre</b><br>(max 100 car.)
                            input#c20.col-12.col-md-9(name='title' type='text' maxlength='100' required='')

                        .form-group.row.col-12.offset-md-3.col-md-9 Les droits de l'article seront crédités à &nbsp;
                            .authorEdit Jean-Claude LE BOULICAUT

                        .form-group.row
                            label.col-12.col-md-3.col-form-label(for='c30') <b>Catégorie</b>
                            select#c30.col-12.col-md-3(name='category')
                                option(value='SOCIETE') Société
                                option(value='ECONOMIE') Economie
                                option(value='ECOLOGIE') Ecologie

                        .form-group.row
                            label.col-12.col-md-3.col-form-label(for='c40') <b>Résumé</b><br>(max 280 car.)
                            textarea#c40.col-12.col-md-9(name='summary' maxlength='280' required='' rows='2')

                        .form-group.row
                            label.col-12.col-md-3.col-form-label.align-middle(for='c50') <b>Article</b><br>(max 2000 car.)
                            textarea#c50.col-12.col-md-9(name='article' maxlength='2000' required='' rows="15")

                        .form-group.row
                            label.col-12.col-md-3.col-form-label(for='c60') <b>Image à la une</b><br>(.png, .jpeg, .jpg)
                            input#c60.col-12.col-md-9(type='file' name='file' accept=".jpeg,.jpg,.png")

                        .form-group.row
                            label.col-12.col-md-3.col-form-label(for='c70') <b>Légende de l'image</b><br>(max 100 car.)
                            textarea#c70.col-12.col-md-9(name='legend' maxlength='100' required='')

                        .row.justify-content-end
                            a.btn__admin.btn__adminright(href="article1.html") Prévisualiser 👀
                            input.btn__admin.btn__adminright(type='submit' name='publish' value='Publier 👌')

            +footer