//- Inclusion des mixins
include ../mixins/_utils.pug

//- article(title, date, author, category, image, alt_image, legend, content, namePage)

doctype html
html(lang="fr")
    +head('Article - ','« Makers » : « Osons organiser un renouveau industriel participant à la relance économique et à la transition écologique »')
    body
        .container
            +header
            main
                //- (link_edit,logo_edit,title, date, author, category, image, alt_image, legend, content)
                +article('#','edit_inactive',
                '« Makers » : « Osons organiser un renouveau industriel participant à la relance économique et à la transition écologique »',
                '01/10/2020',
                'Fabienne RICHARD',
                'Economie',
                '/img/fablab.jpg',
                'photo d\'un atelier Fablab',
                'La fabrication distribuée est la clé d’un système productif résilient',
                'Tribune. La fabrication distribuée est un mode de production décentralisé rendu possible par le déploiement d’Internet. Elle repose sur la mise en commun de compétences et de moyens de production à taille humaine, dans le but de concevoir, fabriquer et distribuer des produits. La dynamique singulière de ce réseau repose sur la grande variété de ses acteurs, allant des citoyens équipés d’imprimantes 3D aux acteurs territoriaux spécialisés (fab labs, hackerspaces, tiers lieux d’innovation), en passant par les TPE (très petites entreprises) et les PME. Or, en déstabilisant l’ensemble de notre appareil productif, la crise sanitaire du Covid-19 a mis en lumière ses fragilités intrinsèques. Les soignants ont manqué de matériel indispensable, et ont subi de brutales ruptures d’approvisionnement. De tels bouleversements du système productif classique produisent des dommages économiques et sociaux pérennes dont les effets ne feront que s’accumuler à chaque nouvelle crise sanitaire ou écologique. Il est donc aujourd’hui plus que nécessaire d’innover dans nos modes de production. C’est dans ce contexte que, partout en France (et dans le monde), des artisans, citoyens fabricants, soignants, ingénieurs, entrepreneurs et « makers » se sont organisés spontanément pour répondre aux besoins des personnes en première ligne. Du masque cousu main au matériel médical de pointe en passant par des nouvelles plates-formes et réseaux d’entraide décentralisés, chacun a pu participer à l’effort collectif selon ses talents et ses moyens. Loin d’être nouveaux, ces modes de production territoriaux, collaboratifs et distribués tirent aujourd’hui pleinement parti du potentiel des outils numériques.')

            +footer