//- Inclusion des mixins
include ../mixins/_utils.pug

doctype html
html(lang="fr")
    +head('Article 1','L\'actualité dans le monde')

    body
        .container
            +header
            main
                .alert.alert-danger Votre Article a bien été supprimé !<br> Il est disponible dans la corbeille pendant encore 7 jours.
                a.btn__admin.btn__adminleft(href='../pages/dashboard.html') &larr; Revenir au tableau de bord

            +footer